<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="student1" class="com.example.di_xml_configuration.di.constructor_injection._3_list.Student">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="Name2"></constructor-arg>
        <constructor-arg value="7279 Henry Smith Street Seattle Washington USA"></constructor-arg>
    </bean>

    <bean id="student2" class="com.example.di_xml_configuration.di.constructor_injection._3_list.Student">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="Name2"></constructor-arg>
        <constructor-arg value="7279 Henry Smith Street Seattle Washington USA"></constructor-arg>
    </bean>

    <bean id="course" class="com.example.di_xml_configuration.di.constructor_injection._3_list.Course">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="Name1"></constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="student1"></ref>
                <ref bean="student2"></ref>
            </list>
        </constructor-arg>
    </bean>

</beans>